label {
    display: block;
    width: 100px;
    float: left;

}

input{
    width: 200px;
    display: block;
}

form {
    border: 1px black solid;
    padding: 5px;
    width: 400px;
    height: 450px;
    background-color: lightblue;
}